@import "tailwindcss";
@import "fumadocs-ui/css/vitepress.css";
@import "fumadocs-ui/css/preset.css";
/* @import "fumadocs-twoslash/twoslash.css"; */

/* Scroll */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--color-fd-border) var(--color-fd-background);
	overscroll-behavior: none;
}
*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
*::-webkit-scrollbar-track {
	background: var(--color-fd-background);
}
*::-webkit-scrollbar-thumb {
	background-color: var(--color-fd-border);
	border-radius: 20px;
	border: 3px solid var(--color-fd-background);
}
*::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-fd-foreground);
}
